:root {
    --offset:6px;
}
body {
    /*弹性盒模型*/
    display: flex;
    /*主轴对齐方式*/
    justify-content: center;
    /*交叉轴对齐方式*/
    align-items: center;
    min-height: 100vh;
}
h2 {
    width:980px;
    /*字体大小*/
    font-size: 100px;
    /*字体样式*/
    font-family: Helvetica;
    line-height: 1.06;
    /*em字体相对单位*/
    letter-spacing: -0.02em;
    color: #1d1d1f;
}

.mask {
    /*一组轮播字高度*/
    height: 106px;
    /*相对于正常位置进行定位*/
    position: relative;
    /*位置显示*/
    /*border: 1px solid red;*/
    /*溢出剪裁*/
    overflow: hidden;
    margin-top: var(--offset);
}

.mask span {
    /*变为块级元素*/
    display: block;
    /*为元素指定的内边距和边框都将在已设定的宽度和高度内进行*/
    box-sizing: border-box;
    /*相对最近父元素的位置*/
    position: absolute;
    top:100px;
    padding-bottom: var(--offset);

    /*设置文字颜色渐变*/
    background-size: 100% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    /*透明填充*/
    -webkit-text-fill-color: transparent;
    /*背景不重复*/
    background-repeat: no-repeat;
}
/*属性选择器*/
.mask span[data-show] {
    transform: translateY(-100%);
    transition: .5s transform ease-in-out;
}

.mask span[data-up] {
    transform: translateY(-200%);
    transition: .5s transform ease-in-out;
}

.mask span:nth-child(1) {
    background-image: linear-gradient(45deg, #0ecffe 50%, #07a6f1);
}

.mask span:nth-child(2) {
    background-image: linear-gradient(45deg, #18e198 50%, #0ec15d);
}

.mask span:nth-child(3) {
    background-image: linear-gradient(45deg, #8a7cfb 50%, #633e9c);
}

.mask span:nth-child(4) {
    background-image: linear-gradient(45deg, #fa7671 50%, #f45f7f);
}